body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0
}
span {
    font-style: italic;
}

canvas {
    image-rendering: optimizeSpeed;
image-rendering: -moz-crisp-edges;
image-rendering: -webkit-optimize-contrast;
image-rendering: -o-crisp-edges;
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;
}